@font-face {
  font-family: CharisSIL-Regular;

  /* Downloaded from Google Fonts. */
  src: url(./CharisSIL-Regular.ttf);
}

body {
  font-family: CharisSIL-Regular;
  font-size: 1.1em;
}

body {
  margin: 2rem auto;

  /* Computed by setting to fit-content on home page. */
  max-width: 550.445px;
}

@media screen and (max-width: 550.445px) {
  body {
    font-size: 0.925em;

    /* Computed by setting to fit-content on home page. */
    max-width: 469.242px;
  }
}

blockquote {
  background: #f4f4eb;
  max-width: 450px;
}

footer {
  font-size: 0.7em;
}

span.kubernetes {
  color: #326ce5;
}
